<%= form_for(@stime) do |f| %>
  <% if @stime.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stime.errors.count, "error") %> prohibited this stime from being saved:</h2>

      <ul>
      <% @stime.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <div class="field">
    <%= f.label :meet_id %><br>
    
    <%= f.collection_select :meet_id, @meets, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :swimmer_id %><br>
    <%= f.collection_select :swimmer_id, @swimmers, :id, :name %>  </div>
  <div class="field">
    <%= f.label :stroke_id %><br>
    <%= f.collection_select :stroke_id, @strokes, :id, :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
