<h1>Listing stimes</h1>

<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Meet</th>
      <th>Swimmer</th>
      <th>Stroke</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stimes.each do |stime| %>
      <tr>
        <td><%= stime.time %></td>
        <td><%= stime.meet_id %></td>
        <td><%= stime.swimmer_id %></td>
        <td><%= stime.stroke_id %></td>
        <td><%= link_to 'Show', stime %></td>
        <td><%= link_to 'Edit', edit_stime_path(stime) %></td>
        <td><%= link_to 'Destroy', stime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stime', new_stime_path %>
