

<p>
  <strong>Time:</strong>
  <%= @stime.time %>
</p>

<p>
  <strong>Meet:</strong>
  <%= @stime.meet.name %>
</p>

<p>
  <strong>Swimmer:</strong>
  <%= @stime.swimmer.name %>
</p>

<p>
  <strong>Stroke:</strong>
  <%= @stime.stroke.name %>
</p>

<%= link_to 'Edit', edit_stime_path(@stime) %> |
<%= link_to 'Back', stimes_path %>
