<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @stime.time %>
</p>

<p>
  <strong>Meet:</strong>
  <%= @stime.meet_id %>
</p>

<p>
  <strong>Swimmer:</strong>
  <%= @stime.swimmer_id %>
</p>

<p>
  <strong>Stroke:</strong>
  <%= @stime.stroke_id %>
</p>

<%= link_to 'Edit', edit_stime_path(@stime) %> |
<%= link_to 'Back', stimes_path %>
